<div class="nav">
  <div class="nav-royal">
    <img src="{{ imagePath }}" alt="uug" class="img" />
  </div>
  <!-- <app-button routerLink="/login">Login </app-button> -->
</div>

<div class="hero">
  <div class="hero-one">Do More, Be More...</div>
  <div class="hero-two">Experience Banking Made Easy with</div>
  <div class="hero-three">Royal Bank</div>
  <div class="hero-four">
    Access world class banking experience and financial services with ease,
    powered by Royal Exchange Microfinance Bank
  </div>

  <!-- <app-button routerLink="/login" class="btn"> Sing in</app-button> -->
</div>

<!-- <app-footer></app-footer> -->
