<div class="cards">
  <div class="card-single">
    <div>
      <h1>40</h1>
      <span>All Users</span>
    </div>
    <div>
      <span class="las"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>40</h1>
      <span> Active</span>
    </div>
    <div>
      <span class="las"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>40</h1>
      <span>Inactive Users</span>
    </div>
    <div>
      <span class="las"></span>
    </div>
  </div>
</div>
<div class="recent-grid">
  <div class="project">
    <div class="card">
      <div class="card-header">
        <!-- <h2>Recent Projects</h2> -->
        <!-- <button>see all</button> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <td>ClientId</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Phone No</td>
                <td>BVN</td>
                <td>Active</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00059009969696963</td>
                <td>Miracle Emen Chi</td>
                <td>miracle@midraconsulting.com</td>
                <td>09023231212/td</td>
                <td>272727272771</td>
                <td><span class="status green"></span> true</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>oooo590000059593</td>
                <td>mirable oti</td>
                <td>mirable@midraconsulting.com</td>
                <td>07054231212/td</td>
                <td>27454447272771</td>
                <td><span class="status red"></span> false</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>4445590004945953</td>
                <td>Miracle Emen Chi</td>
                <td>miracle@midraconsulting.com</td>
                <td>09023231212/td</td>
                <td>272727272771</td>
                <td><span class="status green"></span> true</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>555555999797979793</td>
                <td>Miracle obi</td>
                <td>june@example.com</td>
                <td>080923231212/td</td>
                <td>23454727272771</td>
                <td><span class="status red"></span> false</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td>555555900023jfejf-93</td>
                <td>ebenizer chukwu</td>
                <td>mir@nsulting.com</td>
                <td>099963231212/td</td>
                <td>3455567272771</td>
                <td><span class="status red"></span> true</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="customers"></div>
</div>
